@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    z-index: 1000; /* Above other content */
    background-color: #5161ce; /* Background color */
    padding: 15px 20px; /* Padding */
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none; /* Remove underline */
}

.navbar-collapse {
    overflow: hidden; /* Hide overflow */
}

#navbarSupportedContent ul {
    padding: 0;
    margin: 0;
    display: flex; /* Horizontal layout */
}

#navbarSupportedContent li {
    list-style-type: none;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.8); /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size */
    display: block;
    padding: 15px 20px; /* Padding for links */
    transition: color 0.3s; /* Transition for hover effect */
}

#navbarSupportedContent ul li a:hover {
    color: #fff; /* Change color on hover */
}

#navbarSupportedContent .active a {
    color: #fff; /* Active link color */
}

/* Responsive styles */
@media (max-width: 991px) {
    #navbarSupportedContent ul {
        flex-direction: column; /* Stack items on smaller screens */
    }
}
